version: "3.8"

services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend/storage:/var/www/storage
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend

  db:
    image: postgres:14
    restart: unless-stopped
    environment:
      POSTGRES_DB: instaapp
      POSTGRES_USER: instaapp
      POSTGRES_PASSWORD: instaapp_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
